# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/todoApp/FileContentIndex/43402f2b-c09f-4a76-8f2e-77836f1c20d3.vsidx
/.vs/todoApp/FileContentIndex/6a98724a-af43-462e-94f3-f0ac5d49c42a.vsidx
/.gitignore
/.vs/todoApp/FileContentIndex/11606fcc-65ba-4397-a519-c244f7a240af.vsidx
/.vs/todoApp/FileContentIndex/6504ce20-7618-42a3-ab7e-b4a5e7f4c299.vsidx
/.vs/todoApp/FileContentIndex/6d02e489-0b07-45a7-a9d9-88bd8acf62c3.vsidx
